[Desktop Entry]
Version=1.0
Type=Application
Name=SOAR AI
Comment=Start SOAR AI Monitoring
Exec=gnome-terminal -- bash -c "docker exec -it soar-ai-auto python watch_alerts.py; exec bash"
Icon=/home/soc/SOC-Project/soc-server/desktop/icons/soar.jpeg
Terminal=false
Categories=Utility;
