[Desktop Entry]
Version=1.0
Type=Application
Name=Wazuh Dashboard
Comment=Open Wazuh Dashboard
Exec=xdg-open https://10.30.30.10
Icon=/home/soc/SOC-Project/soc-server/desktop/icons/wazuh.png
Terminal=false
Categories=Security;
